.foot__address {
  margin-right: 70px;
}

.contact__link--opt{
padding: 0;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.foot__contact {
  display: flex;
  justify-content: baseline;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
  color: $secondary-color-project;}
  & + & 
  {margin-top: 9px;}
}

.contact__link--no-hover {
  color: $main-color-project;
  display: inline-block;
  text-align: center;
&:hover,
&:focus {
  color: $main-color-project;
}

}




.foot__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 1.14;
  color: $main-color-project;
}

.foot__social-links + .foot__social-links {
  margin-left: 10px;
}