  $main-text-color: #212121;
  $secondary-text-color: #757575;
  $main-color-project: #ffffff;
  $secondary-color-project: #2196f3;
  $background-second-color: #2f303a;
  $section-background-color: #f5f4fa;
  $clients-color: #afb1b8;
  $portfolio-cards-hover: rgba(33, 150, 243, 0.9);
  $backdrop-color: rgba(0, 0, 0, 0.2);