.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $backdrop-color;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop__close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: rgba(255, 255, 255, 0.1);
  color: $main-color-project;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  fill: black;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: $secondary-color-project;}
}

.close__icon {
  width: 18px;
  height: 18px;
}
