.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 448px;
  /* outline: 1px solid tomato; */
  margin-left: auto;
  margin-right: auto;
}

.form__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 12px;
}

.form__field {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* outline: 1px solid blue; */
  margin-bottom: 10px;
}

.field--last {
  margin-bottom: 0;
}

.field__icon {
  position: absolute;
  bottom: 14px;
  left: 15px;
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .form__field:focus-within > & {
    fill: $secondary-color-project;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.field__input {
  height: 40px;
  padding: 6px 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  outline: none;
  transition: border-color 250ms ccubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    border-color: $secondary-color-project;
    outline: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .form__field:focus-within > & {
    border-color: $secondary-color-project;
  }
}

.field__label {
  color: $secondary-text-color;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.field__input--comment {
  padding: 12px 16px;
  width: 448px;
  height: 120px;
  resize: none;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.policy {
  padding-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $secondary-text-color;
}

.policy__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}



.policy__icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-left: 10px;
  margin-right: 8px;
  border: 2px solid rgba(33, 33, 33, 1);
  border-radius: 2px;
  fill: white;

  .policy__checkbox:checked + & {
  border-color: $secondary-color-project;
  background-color: $secondary-color-project;
  background-image: url(../images/icon-check.svg);
  fill: $main-color-project;
  background-origin: border-box;
}
}

.policy__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.policy__link {
  color: $secondary-color-project;
}
