.hero {
  padding: 118px 0;
  display: block;
  background-color: $background-second-color;
  text-align: center;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/backgroundhero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 600px;
  background-position: center;
  
  @media screen and (min-width:1200px){
  max-width: 1600px;
  padding: 200px 0;
  margin: auto;
  }

}
.hero__title {
  color:$main-color-project;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  margin: 0 auto;
  letter-spacing: 0.06em;
  text-transform: uppercase;
text-align: center;


@media screen and (min-width:1200px){
   font-size: 44px;
   line-height: 1.36;
   width: 696px;}


}